{% assign path = '' %}
{% if site.language != 'es' %}
  {% assign path = site.language | append: '/' %}
{% endif %}

{% case site.section %}
  {% when "notes" %}
    <a href="https://docs.arandasoft.com/{{ path }}notes.html">Home</a>
  {% when "ts" %}
    <a href="https://docs.arandasoft.com/{{ path }}ts.html">Home</a>
  {% when "api" %}
    <a href="https://docs.arandasoft.com/{{ path }}apis.html">Home</a>
  {% else %}
    <a href="https://docs.arandasoft.com/{{ path }}">Home</a>
{% endcase %}
