<div class="group">
  {% comment %} Recorrer elementos del nivel actual {% endcomment %}
  {% for item in nav %}
    {% if item.chapter %}
      {%  comment  %} Capítulo {% endcomment %}
      <div
        class="group_title collapsible chapter-btn"
        id="{{item.chapter}}-btn"
        data-chapter="{{item.chapter}}">
        <p title="{{ item.title }}">{{ item.title }}</p>
        <span id="{{item.chapter}}-span">
          <img
            src="{{ site.baseurl }}/assets/images/ic_flecha.svg"
            width="13"
            alt="Collapse menú">
        </span>
      </div>
      <div class="collapsible_child">
        <ul class="collapsible_content" id="{{item.chapter}}-content">
          {% if item.pages %}
            {% comment %} Siguiente nivel {% endcomment %}
            {% assign nav = item.pages %}
            {% include nav.html %}
            {% else %}
            {% comment %} Ordenamiento por capítulo en página {% endcomment %}
            {% for sitePage in site.pages %}
              {% if sitePage.chapter == item.chapter %}
                {% include nav-item.html current_page=sitePage %}
              {% endif %}
            {% endfor %}
          {% endif %}
        </ul>
      </div>
    {% elsif item.url %}
      {%  comment  %} Url {% endcomment %}
      {% include nav-item.html current_page=item %}
      {% else %}
      {%  comment  %} Página {% endcomment %}
      {% if item.page %}
        {% assign currentPage = item.page %}
      {% else %}
        {% assign currentPage = item %}
      {% endif %}

      {% assign sitePage = site.pages | where: "path", currentPage | first %}
      {% if sitePage %}
        {% include nav-item.html current_page=sitePage chapter=item.chapter %}
      {% endif %}
    {% endif %}
  {% endfor %}
</div>