<meta charset="utf-8">
    <div class="notes">
           <div class="note-icon">
               <img src="{{ site.baseurl }}/assets/images/ic_alert.svg"><h2><strong>Importante</strong></h2>
           </div>
           
           <h1>
           <strong>Tenga en cuenta que la información consignada en esta plantilla debe ser exacta, ya que una vez se ejecute el proceso de importación, no es posible volver a un estado anterior de la base de datos.
            Para realizar la importación es necesario tener Microsoft Office instalado en la maquina.
           </strong>
           </h1>   
           
           <h1>
            <strong>El formato de archivo excel esta disponible en el siguiente link de descarga:</strong>
          </h1>   
           
          <li><a href="http://download.arandasoft.com/wp-1/aranda_doc-8/CMDBImporter/CMDBExampleV8.xls">CMDBExampleV8.xls</a></li>
          
    </div>
</div>
