<meta charset="utf-8">
    <div class="notes">
           <div class="note-icon">
               <img src="{{ site.baseurl }}/assets/images/ic_alert.svg"><h2><strong>Importante</strong></h2>
           </div>
           
           <h1>
           <strong>Nota: Para la version 8.0.148 es indispensable contar con Microsoft .NET Framework 4.8 en el servidor de aplicaciones, antes de realizar la actualización o instalación del producto.</strong>
           </h1>  

           <h1>
            <strong>Para la versión 8.1.0 se deben ejecutar los siguientes scripts adicionales:</strong>
          </h1> 
                 
           
           <li><a href="http://download.arandasoft.com/wp-1/Scripts_Adicionales/SQL/BD_8.0.44.rar"> SQL:</a></li>
           <li><a href="http://download.arandasoft.com/wp-1/Scripts_Adicionales/ORACLE/BD_8.0.44.rar"> ORACLE:</a></li>
               
           
           <h1>
            Nota: Si se va a actualizar a la versión 8.3.0 desde una versión inferior a 8.2.0 se debe OBLIGATORIAMENTE ejecutar los dos paquetes de scripts adicionales. Se recomienda ejecutar dichos scripts en un horario no laboral (preferiblemente en la noche) ya que su ejecución puede llegar a tomarse 4 a 8 horas. Si no se ejecutan estos scripts la herramienta presentara inconsistencias.
           </h1>
        
    </div>
</div>
