<meta charset="utf-8">
    <div class="notes">
           <div class="note-icon">
               <img src="{{ site.baseurl }}/assets/images/ic_alert.svg"><h2><strong>Importante</strong></h2>
           </div>
           
           <li> A partir de la versión de Base de Datos 8.0.105 solo se soporta motor Sql 2012 o Superior y Motor Oracle 18c o Superior.</li>
           <li> A partir de la versión de Base de Datos 8.0.105  se requiere que el servidor cuente con las últimas actualizaciones de Windows ,de lo contrario van a presentar inconsistencias en la aplicación.</li>
           <li> Desde la versión 8.24.4, para poder hacer uso de la consola web de usuarios (USDKV8) se hace necesario instalar URL Rewrite en el IIS del servidor de aplicaciones. 
               Dicho componente se puede descargar desde la siguiente<a href="https://www.iis.net/downloads/microsoft/url-rewrite">URL</a>.</li>
        
           <h1>
           <strong>Nota: Para la version 8.29.0 es indispensable contar con Microsoft .NET Framework 4.8 en el servidor de aplicaciones, antes de realizar la actualización o instalación del producto.</strong>
           <strong>Nota: Para la versión 8.3.0 o superior se deben ejecutar los siguientes scripts adicionales:</strong>   
           </h1>    
        
           
           <li><a href="http://download.arandasoft.com/wp-1/Scripts_Adicionales/SQL/BD_8.0.44.rar"> SQL:</a></li>
           <li><a href="http://download.arandasoft.com/wp-1/Scripts_Adicionales/ORACLE/BD_8.0.44.rar"> ORACLE:</a></li>
                
                 
           <h1>
           Para la versión 8.3.1 o superior se deben ejecutar los siguientes scripts adicionales:
           </h1>
        
           <li><a href="http://download.arandasoft.com/wp-1/Scripts_Adicionales/SQL/SQL_UPDATE_COMMENTARY.sql"> SQL:</a></li>
           <li><a href="http://download.arandasoft.com/wp-1/Scripts_Adicionales/ORACLE/ORA_UPDATE_COMMENTARY.sql"> ORACLE:</a></li>
        
             
           <h1>
           <strong>Nota: Se recomienda ejecutar dichos scripts en un horario no laboral (preferiblemente en la noche) ya que su ejecución puede llegar a tomarse 4 a 8 horas. 
           Si no se ejecutan estos scripts la herramienta presentara inconsistencias.</strong>
           </h1>
    </div>
</div>
