<meta charset="utf-8">
    <div class="notes">
           <div class="note-icon">
               <img src="{{ site.baseurl }}/assets/images/ic_alert.svg"><h2><strong>Importante</strong></h2>
           </div>
           
           <h1> 
            <strong>Nota: Para la version 8.0.148 es indispensable contar con Microsoft .NET Framework 4.8 en el servidor de aplicaciones, antes de realizar la actualización o instalación del producto.</strong> 
           </h1>
        
           
          <h1>
           <strong>PARA CONFIGURAR ESTA CONSOLA POR FAVOR UTILICE </strong>
          </h1>    
        
           <li><a href="http://corp.arandasoft.com:5554/kb2/KnowledgebaseArticle10208.aspx"> ARANDA CONFIGURADOR.:</a></li>
    </div>
</div>
