<meta charset="utf-8">
    <div class="notes">
           <div class="note-icon">
               <img src="{{ site.baseurl }}/assets/images/ic_alert.svg"><h2><strong>Importante</strong></h2>
           </div>
           
           <h1> 
            <strong>Nota: A partir de la versión de Base de Datos 8.0.93 solo se soporta motor Sql 2012 o Superior y Motor Oracle 11.2.04 o Superior.</strong> 
           </h1>
        
           
          <h1>
           <strong>Nota: A partir de la versión 8.2.0 se deben ejecutar los siguientes scripts adicionales:</strong>
          </h1>    
        
           
           <li><a href="http://download.arandasoft.com/Scripts_Adicionales/SQL/BD_8.0.44.rar"> SQL:</a></li>
           <li><a href="http://download.arandasoft.com/Scripts_Adicionales/ORACLE/BD_8.0.44.rar"> ORACLE:</a></li>
                
                 
           <h1>
            <strong>Nota:A partir de la versión 8.2.1 se deben ejecutar los siguientes scripts adicionales:</strong>
           </h1>
        
           <li><a href="http://download.arandasoft.com/Scripts_Adicionales/SQL/SQL_UPDATE_COMMENTARY.sql"> SQL:</a></li>
           <li><a href="http://download.arandasoft.com/Scripts_Adicionales/ORACLE/ORA_UPDATE_COMMENTARY.sql"> ORACLE:</a></li>
        
             
           <h1>
            <strong>Nota: Se recomienda ejecutar dichos scripts en un horario no laboral (preferiblemente en la noche) ya que su ejecución puede llegar a tomarse 4 a 8 horas.
                Si no se ejecutan estos scripts la herramienta presentara inconsistencias.</strong>
           </h1>
    </div>
</div>
