<meta charset="utf-8">
    <div class="notes">
           <div class="note-icon">
               <img src="{{ site.baseurl }}/assets/images/ic_alert.svg"><h2><strong>Importante</strong></h2>
           </div>
           
           <h1> 
            <strong>Nota: Compatible con(Windows 7 de 32 y 64 bits , Windows 8 y 8.1 de 32 y 64 Bits , Windows 10 de 32 y 64 bits) Adicionalmente También soportamos algunas versiones de Servidor como (Windows Server 2008, Windows server 2012 R2 y Windows Server 2016	64 bits)</strong>
           </h1>
        
           
          <h1>
           <strong>Usar con productos versión: AAM, ASM, ASD, AR, APRTM, APM, APWM versiones 7.2 y 8.4</strong>
          </h1>    
                 
           <h1>
            <strong>Importante:</strong>
           </h1>
        
           <li>Después de la instalación inicial del agente la estación debe reiniciarse, de lo contrario algunas funciones de administración remota y notificaciones no funcionarán</li>
           <li>Tenga en cuenta siempre que actualice de versión de Agente extraer del auto expandible los archivos ACOMAgent.exe e Inst_cap.exe y ubicarlos en el recurso compartido Agents, reemplazando los actuales. También reemplazarlos en la carpeta de la GPO si está instalando a través de política de Directorio Activo</li>
           <li>El agente 8.3.0 o superior ya incluye soporte para Aranda Rules en Windows Vista; la serie de agente 8.0.X no. Los ambientes con Aranda Rules con agente 7.1.X deberán ser actualizados directamente a 8.1.0 o superior; si actualiza a agente 8.0.X, Aranda Rules se deshabilitará en las estaciones. Para mayor información por favor comunicarse con Aranda Support Center a asc@arandasoft.com</li>
           <li>A partir de la versión 8.5.1 de agente se soluciona la falla que se venía presentando en ambientes virtualizados.</li>
           <li><strong>Esta actualización aplica para la actualización de AAMS versión 7.2.32 y AAMS 8.0.10 ó superior.</strong></li>
        
             
           <h1>
            <strong>A partir de la versión 8.5.4 de agente se hace necesario actualizar Asset Managament Server ya que es compatible únicamente con la versión 8.4.0 o superior. 
                Para la actualización a la versión de AAMS 8.4.1 se hace necesario, realizar el cambio de puerto del conserver, debido a problemas de represamiento de inventarios presentados al realizar esta actualización, se tendrá que solicitar por lo tanto un autoexpandible, con el cambio del puerto para realizar la actualización de agentes a la versión 8.5.5, esto a fin de que al momento de actualizar el agente, se tenga la información requerida para poder realizar el envío de inventarios al servidor y no se represen por incompatibilidad entre las versiones del comunicador y el conserver, descargue el procedimiento para hacer dicho cambio dando clic<a href="http://temp.arandasoft.com/kb/temp/Instructivo para realizar el cambio del puerto del conserver.docx">¡aquí!</a>.
                </strong>
           </h1>
    </div>
</div>
