<meta charset="utf-8">
    <div class="notes">
           <div class="note-icon">
               <img src="{{ site.baseurl }}/assets/images/ic_alert.svg"><h2><strong>Importante</strong></h2>
           </div>
           
           <li><strong>Antes de usar ADBT se deben cerrar todas las consolas de productos Aranda y detener todos los servicios Aranda del servidor. No debe haber sesiones activas con la base de datos.</strong></li>
           <li><strong>Se debe contar una copia de seguridad reciente de la base de datos. </strong></li>
           <li><strong>Aranda DBTools afecta tanto la estructura como la información de la base de datos, por lo tanto debe ser usada por personal con conocimientos básicos ó avanzados en bases de datos. El uso indebido puede causar daños irreparables en la base de datos.</strong></li>          
          
    </div>
</div>
