<meta charset="utf-8">
    <div class="notes">
           <div class="note-icon">
               <img src="{{ site.baseurl }}/assets/images/ic_alert.svg"><h2><strong>Importante</strong></h2>
           </div>
           

           <h1> 
            <strong>A partir de la versión de Base de Datos 8.0.93 solo se soporta motor Sql 2012 o Superior y Motor Oracle 11.2.04 o Superior</strong> 
            <strong>Nota: Para la version 8.0.148 es indispensable contar con Microsoft .NET Framework 4.8 en el servidor de aplicaciones, antes de realizar la actualización o instalación del producto.</strong> 
           </h1>
          
           
          <h1>
           <strong>En caso de tener instalaciones previas del servicio Aranda Mailer Windows Service, o Aranda Mailer se deberá realizar la desinstalación de los mismos y el borrado de la correspondiente carpeta</strong>
          </h1>    
        
    
             
          
    </div>
</div>
