<meta charset="utf-8">
    <div class="notes">
           <div class="note-icon">
               <img src="{{ site.baseurl }}/assets/images/ic_alert.svg"><h2><strong>Importante</strong></h2>
           </div>
           
           <h1>
           <strong>Nota: De acuerdo a la última actualización de Aplicaciones Aranda ya no va a encontrar los configuradores independientes de consolas WEB, se ha generado una Aplicación común a todas las consolas WEB de Aranda por lo que se recomienda utilizar Aranda Configurador.
            Para  realizar la configuración el  nuevo instalador instalador generará el sitio http://localhost/AWCF en el servidor de aplicaciones, desde donde debe realizarse la configuración de cada consola WEB, Con este configurador se puede realizar la conexión con la Base de Datos, la configuración de las aplicaciones, de acuerdo a sus necesidades.</strong>
           </h1>    
        
           
           <h1>
            Por ahora utilice Aranda Configurador para configurar:
           </h1>
        
           <li>Aranda Service Desk Web</li>
           <li>Aranda Asset Management Web</li>
           <li>Aranda Software Metrix Web</li>
           <li>Aranda DashBoard 9.0</li>
             
    </div>
</div>