<meta charset="utf-8">
    <div class="notes">
           <div class="note-icon">
               <img src="{{ site.baseurl }}/assets/images/ic_alert.svg"><h2><strong>Importante</strong></h2>
           </div>
           
           <h1> 
            <strong>Nota:</strong> A partir de la versión de Base de Datos 8.0.105 solo se soporta motor Sql 2012 o Superior y Motor Oracle 18c o Superior.
           </h1>
          
           <li> A partir de la versión de Base de Datos 8.0.105  se requiere que el servidor cuente con las últimas actualizaciones de Windows ,de lo contrario van a presentar inconsistencias en la aplicación.</li>
           <li> Desde la versión 8.24.4, para poder hacer uso de la consola web de usuarios (USDKV8) se hace necesario instalar URL Rewrite en el IIS del servidor de aplicaciones. Dicho componente se puede descargar desde la siguiente URL (https://www.iis.net/downloads/microsoft/url-rewrite).</li>
           
    
    </div>
</div>