<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/modules/html2canvas.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/modules/jspdf.umd.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/main.js" type="module"></script>
<script src="{{ site.baseurl }}/assets/js/libs/iframeResizer.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/resize.js"></script>
<script src="{{ site.baseurl }}/assets/js/modules/handleCopyClick.js"></script>