<a href="javascript:void(0)" class="sg_sidebar_button">
  <i class="icon" data-icon="menu"></i>
</a>

<div id="sgSidebar" class="sg_sidebar">
  <p id="hideSidebarButton" class="sg_sidebar_close_button"></p>

  <a href="{{ site.baseurl }}/index.html" class="logo">
    <div class="icon">
      <img src="{{ site.baseurl }}/assets/branding/png/styleguide-128x128.png" />
    </div>
    <div class="title">{{ site.title }}</div>
  </a>

  {% include home-item.html %}

  {% if page.sidebar and site.data.sidebar[page.sidebar] != null %}
    {% assign toc = site.data.sidebar[page.sidebar] %}

    <ul>
      {% assign nav = toc %}
      {% include nav.html %}
    </ul>

    <script>
        function addClassToAllParentULs(element) {
            while (element) {
                if (element.tagName === "UL") {
                    element.classList.toggle("collapsible_active");
                    element.classList.toggle("collapsible_arrow");
                }
                element = element.parentElement;
            }
        }
      
        var selection = document.querySelector("a.active");
        if (selection) {
            addClassToAllParentULs(selection);
        }
      
        var elements = document.getElementsByClassName("chapter-btn");
      
        var toggleCollapsible = function () {
            var attribute = this.getAttribute("data-chapter");
      
            if (attribute) {
                document
                    .getElementById(attribute + "-content")
                    .classList.toggle("collapsible_active");
      
                document
                    .getElementById(attribute + "-span")
                    .classList.toggle("collapsible_arrow");
            }
        };
      
        for (var i = 0; i < elements.length; i++) {
            elements[i].addEventListener("click", toggleCollapsible, false);
        }
    </script>
  {% endif %}
</div>