<a href="javascript:void(0)" class="sg_sidebar_button"><i class="icon" data-icon="menu"></i></a>
<div class="sg_sidebar">


  <a href="{{ site.baseurl }}/index.html" class="logo">
    <div class="icon"><img src="{{ site.baseurl }}/assets/branding/png/styleguide-128x128.png"></div>
    <div class="title">{{ site.sg_title }}</div>
  </a>


  <a href="https://docs.arandasoft.com/">Home</a></li>

  <a href="{{ site.url }}{{ site.baseurl }}" aria-title="current-manual" {% if page.url=='/' %} class="active" {% endif
    %}>{{ site.title }}</a></li>


  {% if page.sidebar and site.data.sidebar[page.sidebar] != null %}
  {% for item in site.data.sidebar[page.sidebar] %}

  <div class="group">
    <div class="contenedor-menu">
      <ul class="menu">
        <li>
          <a href="#">{{ item.title }}<i class="icono derecha fa fa-chevron-down"></i></a>
          {% if item.subitems != null %}
          <ul>
            {% for subitem in item.subitems %}
            <li>
              {% if subitem.childrens != null %}
              <a href="{{ subitem.url }}">{{ subitem.title }}<i class="icono derecha fa fa-chevron-down"></i></a>
              <ul>
                {% for children in subitem.childrens %}
                <li><a href="{{ children.url }}">{{ children.title }}</a></li>
                {% endfor %}
              </ul>
              {% elsif item.childrens == null %}
              <a href="{{ subitem.url }}">{{ subitem.title }}</a>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
          {% elsif item.subitems == null %}
          <a href="{{ subitem.url }}">{{ subitem.title }}</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>

  {% endfor %}
  {% endif %}

</div>