///// Font Imports /////

// Aranda Fonts

// Lederman
@font-face {
    font-family: "Lederman";
    src: url("../fonts/Lederman/Lederman-Regular.woff2") format("woff2"),
        url("../fonts/Lederman/Lederman-Regular.woff") format("woff"),
        url("../fonts/Lederman/Lederman-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lederman";
    src: url("../fonts/Lederman/Lederman-Medium.woff2") format("woff2"),
        url("../fonts/Lederman/Lederman-Medium.woff") format("woff"),
        url("../fonts/Lederman/Lederman-Medium.ttf") format("truetype");
    font-weight: medium;
    font-style: normal;
}
