.logo .title{
    line-height: 1 !important;
}
.collapsible {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.collapsible span {
    transform: rotate(-90deg);
    transition: .5s;
    filter: invert(100%) contrast(100%);
}

.collapsible_arrow {
    transform: rotate(0deg) !important;
}

.collapsible_content {
    display: none;
    overflow: hidden;
    height: 0;
    transition: 1s ease-out;
}

.collapsible_active {
    display: block;
    height: auto;
}