// Base Colors
$base-font-color: #515151;
$heading-font-color:  #999999;      // @CHANGE
$subheading-font-color: $grey;

$highlighter-font-color: #999999;
$link-color: #515151;
$masthead-font-color: #999999;
$sidebar-color: #999999;
