// Base Colors
$base-font-color: #515151;
$heading-font-color:  #3a3a3a;      // @CHANGE
$subheading-font-color: $grey;

$highlighter-font-color: #FFFFFF;
$link-color: #515151;
$masthead-font-color: #999999;
$sidebar-color: #999999;
$background-color-blockquote: #99999914;
$alert-font-color: #EA0443;
$related-font-color: #091f3e;
