// Base Styles
html#sg,
body#sg {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
  background: $white;
}

body#sg {
  position: relative;
  color: $base-font-color;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1,"liga" 1,"frac" 1,"pnum" 1;
  -moz-font-feature-settings: "kern" 1,"liga" 1,"frac" 1,"pnum" 1;
  -ms-font-feature-settings: "kern" 1,"liga" 1,"frac" 1,"pnum" 1;
  font-feature-settings: "kern" 1,"liga" 1,"frac" 1,"pnum" 1;
  -webkit-font-smoothing: antialiased;
}
.sg-pusher {
  position: relative;
  min-height: 100%;
  margin: 0 $margin_large;

  @media only screen and (max-width: $medium_screen) {
    margin: 0 $margin;
  }
}

.highlight
{
  background-color: yellow;
}
pre.highlight
{
  background: #232020;
}

// Sidebar Button Styles
.sg_sidebar_button {
  display: none;

  @media only screen and (max-width: $large_screen) {
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
    line-height: 1;
    margin: $margin 0;
    left: 0;
    position: absolute;
    display: block;
    z-index: 1;
    color: $heading-font-color;

    .icon {
      font-size: inherit;
      margin-right: 0;
    }
  }
}
@media only screen and (max-width: $large_screen) {
  .sg-pusher.show_sidebar {
    width: 100%;
    overflow: hidden;
    margin: 0;

    .sg_sidebar_button {
      left: $left_rail + 20;
      color: $blue;
    }
    .sg_sidebar {
      width: $left_rail;
      left: 0;
    }
    .sg-main {
      position: absolute;
      left: $left_rail + 20;
      opacity: .2;
    }
  }
}
@media only screen and (max-width: $small_screen) {
  .sg-pusher.show_sidebar {
    width: 100%;
    overflow: hidden;
    margin: 0;

    .sg_sidebar_button {
      left: $left_rail - 30;
    }
    .sg_sidebar {
      width: $left_rail - 50;
      left: 0;
    }
    .sg-main {
      position: absolute;
      left: $left_rail - 30;
      opacity: .2;
    }
    .sg_post {
        position: absolute;
        left: $left_rail - 30;
        opacity: .2;
    }
    .sg_apis {
        position: absolute;
        left: $left_rail - 30;
        opacity: .2;
      
    }
  }
}
// Sidebar Position
.sg_sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: $left_rail;
  height: 100%;
  min-height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  @media only screen and (max-width: $large_screen) {
    left: -$left_rail;
  }
}

.post {
    align-items: baseline;
    color: #576574;
    border-left: 4px solid #ff6d6d;
    font-weight: 500;
    padding: 10px 16px;
    background-color: #fcfcfc;
}

.ts {
    font-weight: 300;
    border-radius: 2px;
    color: currentColor;
 
 }

  .post ul {
    padding-bottom: 96px;
 }

  .post h2 {
    color: #576574;
    font-weight: 500;
    padding: 10px 16px;
    background-color: #fcfcfc;

  }

  .apis {
    align-items: baseline;
    color: #576574;
    padding: 10px 16px;
  
  }  
  .apis h2 {
    color: #576574;
    font-weight: 500;
    border-left: 4px solid #6dcdff;
    padding: 4px 16px;
    background-color: #fcfcfc;
    margin-bottom: 36px;
    
  }  
  .apis th {
    color: #576574;
    
}  
  .apis td {
    color: #576574;

}
.content-instal {
    position: absolute;
    padding-left: 315px;
    max-width: 68%;
 } 
.instal p {
    color: #999999;
    font-size: 14px;
    font-weight: 300;
} 

.instal blockquote {
    margin: 1rem 0;
    padding-left: 2rem;
    top: 164px;
    left: 371px;
    height: 103px;
    background: #f5717121;
    border-radius: 4px;

}
.instal h1 {
    color: #727E89;
    font-weight: 500;
    border-left: 4px solid #1AA99D;
    padding: 4px 16px;
    margin-bottom: 36px;
    font-size: 22px;
    margin-top: 46px;
}  
.instal h2 {
    color: #727E89;
    font-weight: 500;
    border-left: 4px solid #FF6D6D;
    padding: 4px 16px;
    margin-bottom: 36px;
    font-size: 22px;
    margin-top: 46px;  
}  
  .instal h3 {
    color: #727E89;
    font-weight: 500;
    border-left: 4px solid #F8D40E;
    padding: 4px 16px;
    margin-bottom: 36px;
    font-size: 22px;
    margin-top: 46px;
}
 .instal h4 {
    color: #727E89;
    font-weight: 500;
    margin-bottom: 36px;
    font-size: 22px;
    margin-top: 31px;
} 
 .title_alert {
    color: #F57171;
    font-size: 14px;
    margin-left: 24px;
    margin-top: 8px;
} 
.content_alert {
    background: #f5717121;
    border-radius: 4px;
 }  
.alert {
    padding-top: 35px;
    padding-left: 28px;
    display: -webkit-box;
 }
.notes {
    display: inline-block;
}
.notes h1 {
    font-size: 13px;
    color: #f57171;
    margin-left: 79px;
    margin-right: 22px;
    margin-bottom: 14px; 
 
 }     
.notes li {
    font-size: 13px;
    color: #f57171;
    margin-left: 79px;
    margin-right: 22px;
    margin-bottom: 14px;
    display: block;
  }
  .note-icon {
    padding-left: 30px;
    padding-top: 13px;
    color: #f57171;
    display: flex;
 }
  .note-icon h2 {
    margin-left: 14px;
}

   
.highlight code:before {
    display: none;
}

#contenido .body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-top: 1px solid #eef1f2;
  box-sizing: border-box;
  display: block;
  padding: 15px 15px 0;
  width: 100%;
}

#contenido .body code {
  border: 1px solid #e2e7ea;
  background: #eef1f2;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #546974;
  padding: 0 1px;
}

#contenido .body p > code {
  display: block;
  padding: 15px;
  white-space: pre;
}
.sg-main {
  padding: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
}
.sg_contain {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 $right_rail 0 $left_rail + 12; 
}
.sg_post {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 $right_rail 0 $left_rail + 12;

  @media only screen and (max-width: $extended_screen) {
    max-width: 52rem;
    padding: 0 0 0 $left_rail + 20;
  }
  @media only screen and (max-width: $large_screen) {
    padding: 0;
  }
}
