// Base Styles
html#sg,
body#sg {
    margin: 0;
    height: 100%;
    width: 100%;
    min-height: 100%;
    font-size: $base-font-size;
    font-family: $base-font-family;
    line-height: $base-line-height;
    background: $white;
}

body#sg {
    position: relative;
    color: $base-font-color;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-feature-settings: normal;
    -moz-font-feature-settings: normal;
    -ms-font-feature-settings: normal;
    font-feature-settings: normal;
    -webkit-font-smoothing: antialiased;
}

#languageSelector {
    position: absolute;
    right: 45px;
    top: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .selector {
        display: flex;
        flex-direction: row;
        gap: 6px;
        align-items: center;
        cursor: pointer;
        position: absolute;
        top: 12px;
        right: 15px;
        width: max-content;
        z-index: 2;
    }
}

#language {
    display: none;
    padding: 3px;
    margin-top: 10px;
    background-color: #f2f2f4;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 35px;
    width: 118px;
    height: 125px;
    .languageOptionItem {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: #0865d0;
        font-size: 16px;
        padding-right: 16px;
        cursor: pointer;
    }
    .languageOptionItem:hover {
        background-color: #ededf6;
    }
}

#arrowIcon {
    transition: transform 0.3s;
    height: 13px;
                width: 13px;
}

.sg-pusher {
    position: relative;
    min-height: 100%;

    @media only screen and (max-width: $small_screen) {
        padding: 1.5rem;
    }

    @media only screen and (min-width: $small_screen) {
        padding: 2rem;
    }
}

// Sidebar Button Styles
.sg_sidebar_button {
    display: none;

    @media only screen and (max-width: $large_screen) {
        font-size: 2rem;
        height: 2rem;
        width: 2rem;
        line-height: 1;
        margin: $margin 0;
        left: 0;
        display: block;
        z-index: 1;
        color: $heading-font-color;

        .icon {
            font-size: inherit;
            margin-right: 0;
        }
    }
}

.sg_sidebar_close_button {
    position: absolute;
    top: 0;
    right: 15px;
    display: none;
    @media only screen and (max-width: $large_screen) {
        display: block;
    }
}

.sg_sidebar_close_button:after {
    display: inline-block;
    font-size: 30px;
    content: "\00d7";
}

//Sidebar menu
@media only screen and (max-width: $large_screen) {
    .sg-pusher.show_sidebar {
        width: 100%;
        overflow: hidden;
        margin: 0;

        .sg_sidebar_button {
            left: $left_rail + 20;
            color: $blue;
        }
        .sg_sidebar {
            width: $left_rail;
            left: 0;
        }
        .sg-main {
            left: $left_rail + 20;
            opacity: 0.2;
        }
    }
}
@media only screen and (max-width: $medium_screen) {
    .sg-pusher.show_sidebar {
        width: 60%;
        overflow: hidden;
        margin: 0;

        .sg_sidebar_button {
            left: $left_rail + 20;
            color: $blue;
        }
        .sg_sidebar {
            width: 60%;
            left: 0;
        }
        .sg-main {
            left: $left_rail + 20;
            opacity: 0.2;
        }
    }
}
@media only screen and (max-width: $small_screen) {
    .sg-pusher.show_sidebar {
        width: 90%;
        overflow: hidden;
        margin: 0;

        .sg_sidebar_button {
            left: $left_rail - 30;
        }
        .sg_sidebar {
            width: 100%;
            left: 0;
        }
        .sg-main {
            position: absolute;
            left: $left_rail - 30;
            opacity: 0.2;
        }
        .sg_post {
            position: absolute;
            left: $left_rail - 30;
            opacity: 0.2;
        }
        .sg_apis {
            position: absolute;
            left: $left_rail - 30;
            opacity: 0.2;
        }
    }
}

// Sidebar Position
.sg_sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: $left_rail;
    height: 100%;
    min-height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    @media only screen and (max-width: $large_screen) {
        left: -$left_rail;
    }
}

.post {
    align-items: baseline;
    color: #576574;
    border-left: 4px solid #ff6d6d;
    font-weight: 500;
    padding: 10px 16px;
    background-color: #fcfcfc;
}

.ts {
    font-weight: 300;
    border-radius: 2px;
    color: currentColor;
}

.post ul {
    padding-bottom: 96px;
}

.post h2 {
    color: #576574;
    font-weight: 500;
    padding: 10px 16px;
    background-color: #fcfcfc;
}

.apis {
    align-items: baseline;
    color: #576574;
    padding: 10px 16px;
}
.apis h2 {
    color: #576574;
    font-weight: 500;
    border-left: 4px solid #6dcdff;
    padding: 4px 16px;
    background-color: #fcfcfc;
    margin-bottom: 36px;
}
.apis th {
    color: #576574;
}
.apis td {
    color: #576574;
}
.content-instal {
    position: absolute;
    padding-left: 315px;
    max-width: 68%;
}
.instal p {
    color: #999999;
    font-size: 14px;
}
.instal h1 {
    color: #727e89;
    font-weight: 500;
    border-left: 4px solid #1aa99d;
    padding: 4px 16px;
    margin-bottom: 36px;
    font-size: 22px;
    margin-top: 46px;
}
.instal h2 {
    color: #727e89;
    font-weight: 500;
    border-left: 4px solid #ff6d6d;
    padding: 4px 16px;
    margin-bottom: 36px;
    font-size: 22px;
    margin-top: 46px;
}
.instal h3 {
    color: #727e89;
    font-weight: 500;
    border-left: 4px solid #f8d40e;
    padding: 4px 16px;
    margin-bottom: 36px;
    font-size: 22px;
    margin-top: 46px;
}
.instal h4 {
    color: #727e89;
    font-weight: 500;
    margin-bottom: 36px;
    font-size: 22px;
    margin-top: 31px;
}
.title_alert {
    color: #f57171;
    font-size: 14px;
    margin-left: 24px;
    margin-top: 8px;
}
.content_alert {
    border-bottom: 1px solid #feeded;
}
.alert {
    padding-top: 35px;
    padding-left: 28px;
    display: -webkit-box;
}
.notes {
    display: inline-block;
}
.notes h1 {
    font-size: 13px;
    color: #f57171;
    margin-left: 31px;
    margin-right: 22px;
    margin-bottom: 14px;
}
.notes li {
    font-size: 13px;
    color: #f57171;
    margin-left: 31px;
    margin-right: 22px;
    margin-bottom: 14px;
    display: block;
    margin-top: 17px;
}
.note-icon {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 13px;
    display: flex;
    background: #091f3e08;
    border-radius: 4px;
    padding-bottom: 13px;
}
.note-icon h2 {
    margin-left: 14px;
    font-size: 1rem;
}

#contenido .body {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 1px solid #eef1f2;
    box-sizing: border-box;
    display: block;
    padding: 15px 15px 0;
    width: 100%;
}

#contenido .body code {
    border: 1px solid #e2e7ea;
    background: #eef1f2;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #546974;
    padding: 0 1px;
}

#contenido .body p > code {
    display: block;
    padding: 15px;
    white-space: pre;
}
.sg-main {
    padding: 0;
    width: 100%;
    height: auto;
    min-height: calc(100vh - 30px);
}
.sg_contain {
    /*  problema padding */
    max-width: 70rem;
    margin: 0 auto;

    @media only screen and (min-width: 1200px) {
        padding: 0 $right_rail 0 $left_rail + 12;
    }
}
.sg_post {
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 $right_rail 0 $left_rail + 12;

    @media only screen and (max-width: $extended_screen) {
        max-width: 52rem;
    }
    @media only screen and (max-width: $large_screen) {
        padding: 0;
    }
}
