.buscador-container{
    margin-bottom: 0px !important;
    height: 50px;
}

#result-box{    
    position: absolute;
    width: 450px;
    max-width: 451px;
    max-height: 100px;
    overflow-y: scroll;
    z-index: 1;
    background-color:$aranda-white;  
    /* Box shadow */
    box-shadow: -3px 10px 15px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 10px 15px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 10px 15px -8px rgba(0,0,0,0.75);     
}

#result-box::-webkit-scrollbar {
    background-color: $aranda-white;
    width: 16px;
}

#result-box::-webkit-scrollbar-track {
    background-color: #f4f4f4;
}

#result-box::-webkit-scrollbar-track:hover {
    background-color: #f4f4f4;
}

#result-box::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 5px solid #fff
}

#result-box::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
    border: 4px solid #f4f4f4
}

#result-box::-webkit-scrollbar-button {
    display: none
}
#convertPDF{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #FFF;
}
#convertPDF > img{
    position: relative;
    transform: scale(2);
}
#expand-results:hover {
    cursor: pointer;
}
.demo-item{
    position: relative;
    background: #Fff;
    color: #000;
    width: 100%;
    height: 100px;
    font-size: 10px;
    font-weight:normal;    
    font-size: 12px;
    opacity: 1;
    font-family: 'neusa_next_std_regularregular', sans-serif;
}
.item-manual{
    font-size: medium;
    color: $aranda-title;
}
.item-title{
    font-size: small;
    color: $aranda-text;
}
.demo-abstract{
    position: relative;
    font-weight:normal;
    color:$aranda-text;
    font-size: 12pt !important;
    font-family: 'neusa_next_std_regularregular', sans-serif;

}
.item-url{
    font-size: small;
    color: $aranda-blue;
}

.tooltip{
    position: absolute;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: #515151;
    height: 20px;
    z-index: 1;
    top: 5px;
    border-radius: 3px;
    background-color: rgba(230, 230, 230, 0.75);
}

.show_tooltip {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease-in;
}
.hide_tooltip {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-out;
}