.pdf {
    background-color: #c2cadf42;
    border: 2px solid #FF6D6D;
    border-radius: 4px;
    text-decoration: none;
    display: block;
}

.pdf h1{
    font-size: 20px;
    color: #db4655;
    margin-left: 8px;
    margin-right: 22px;
    text-decoration: none;
    display: inline-block;
}
#convertPDF {
    margin-left: 13px;
    background-color: transparent;
}  
#convertPDF>img {
    width: 37px;
    padding-bottom: 3px;
 }
