.pdf {
   display: flex;
   background: $sidebar-color;
   border-radius: 4px;
   padding-left: 10px;
}

.pdf h1{
    font-size: 13px;
    color: fff;
}
#convertPDF>img {
    width: 22px;
    padding-left: 10px;
}    
 #convertPDF {
}
