.pdf {
    background-color: #c2cadf38;
    border: 1px solid #c2cad8;
    border-radius: 4px;
    margin-left: auto;
    max-height: 42px;
}

.pdf h1{
    font-size: 13px;
    color: #515151;
    margin-left: 41px;
    margin-right: 11px;
    text-decoration: none;
    margin-top: 12px;
    
}

#convertPDF {
    width: 0px;
    height: 0px;
    background-color: #c2cadf38;
    text-decoration: none;
    
}    

 #convertPDF>img {
    position: absolute;
    width: 18px;
    margin-left: 10px;
     
} 
