<!DOCTYPE html>
<html id="sg" {% if site.language %} lang="{{ site.language }}" {% endif %}>
    <head>
        {% include header.html %}
    </head>

    <body id="sg">
        <div class="sg-pusher" style="display: flex">
            <aside id="sidebar">{% include sidebar.html %}</aside>
            <main id="sgMain" class="sg-main">
                {% if site.translated == true %}
                <div id="languageSelector">
                    {% assign params = site.baseurl | split: '/' %} {% assign
                    lang = params[2] %} {% if lang == null %} {% assign lang =
                    "es" %} {% endif %}
                    <div class="selector" onclick="toggleLanguageSelector()">
                        <img
                            src="{{ site.baseurl }}/assets/images/ic_language.svg"
                            alt=""
                            style="height: 25px; width: 25px"
                        />
                        <span
                            id="langPrefix"
                            style="font-size: 16px; color: #0865d0"
                            >{{ lang | upcase }}</span
                        >
                        <img
                            id="arrowIcon"
                            src="{{ site.baseurl }}/assets/images/ic_arrow_up.svg"
                            alt=""
                        />
                    </div>

                    <div id="language">
                        <div
                            class="languageOptionItem"
                            onclick="changeLanguage('es')"
                        >
                            Español
                        </div>
                        <div
                            class="languageOptionItem"
                            onclick="changeLanguage('en')"
                        >
                            English
                        </div>
                        <div
                            class="languageOptionItem"
                            onclick="changeLanguage('pt')"
                        >
                            Português
                        </div>
                    </div>
                </div>

                {% endif %}
                <div
                    style="
                        flex-grow: 1;
                        box-sizing: border-box;
                        overflow-y: auto;
                    "
                >
                    {{ content }}
                </div>
            </main>
        </div>

        {% include scripts.html %}
    </body>
</html>