---
layout: default
---
<header id="mastheadArea" class="sg_masthead">
  <div class="sg_contain">
    <div class="head">
      <div class="title header typo_ostrich">{{ page.title }}</div>
      {% if page.info %}<div class="sub_title typo_crow">{{ page.info }}</div>{% endif %}
    </div>
    {% if page.nav == true %}<aside id="nav">
      <div class="header typo_hummingbird">Contents</div>
      <ul></ul>
    </aside>{% endif %}
  </div>
       
</header>

<post id="documentationArea" class="sg_doc">
     <div class="sg_post" id="post-content">
         <div class="content_alert">
           <div class="alert">
             <div class="img_alert"><img src="{{ site.baseurl }}/assets/images/ic_alert.svg"></div>
               <div class="title_alert">Nota: Para la version 8.29.0 es indispensable contar con Microsoft .NET Framework 4.8 en el servidor de aplicaciones, antes de realizar la actualización o instalación del producto.
                                       - A partir de la versión de Base de Datos 8.0.105 solo se soporta motor Sql 2012 o Superior y Motor Oracle 18c o Superior.
                                       - A partir de la versión de Base de Datos 8.0.105  se requiere que el servidor cuente con las últimas actualizaciones de Windows ,de lo contrario van a presentar inconsistencias en la aplicación.
                                       - Desde la versión 8.24.4, para poder hacer uso de la consola web de usuarios (USDKV8) se hace necesario instalar URL Rewrite en el IIS del servidor de aplicaciones. Dicho componente se puede descargar desde la siguiente URL (https://www.iis.net/downloads/microsoft/url-rewrite).</div>
            </div>
         </div> 
       <div class="instal">{{ content }}</div>
     </div>
</post>
</post>
