---
layout: default
---
<header id="mastheadArea" class="sg_masthead">
  <div class="sg_contain">
    <div class="head">
      <div class="title header typo_ostrich">{{ page.title }}</div>
      {% if page.info %}<div class="sub_title typo_crow">{{ page.info }}</div>{% endif %}
    </div>
    {% if page.nav == true %}<aside id="nav">
      <div class="header typo_hummingbird">Contents</div>
      <ul></ul>
    </aside>{% endif %}
  </div>
       
</header>

<post id="documentationArea" class="sg_doc">
     <div class="sg_post" id="post-content">
         <div class="content_alert">
             <div class="alert">
               <div class="img_alert"><img src="{{ site.baseurl }}/assets/images/ic_alert.svg"></div>
                  <div class="title_alert"></div>
                   <div class="blockquote">{{ content }}</div> 
         </div>    
       <div class="instal">{{ content }}</div>
     </div>
</post>
