blockquote {
    font-weight: normal;
    cursor: pointer;
    white-space: nowrap;
    padding-bottom: 8px;
    font-size: 14px;
    line-height: 1.428571429;
    margin-right: 10px;
    color: #333;
    background: #fafafa;
}
h6 {
    border-left: 4px solid #ffd800;
    color: #576574;
    font-weight: 500;
    padding: 13px 16px;
    background-color: #ffd8001c;
    margin-bottom: 36px;
    font-size: 1rem;
    color: #101010;
}
h7 {
    border-left: 4px solid #0043ce;
    color: #576574;
    font-weight: 500;
    padding: 13px 16px;
    background-color: #0043ce14;
    margin-bottom: 36px;
    font-size: 1rem;
    color: #101010;

}



