blockquote {
    border-left: 4px solid;
    border-left-color: #e9e9eb;
    background-color: #f9f9fb;
    font-weight: normal;
    cursor: pointer;
    font-size: 15px;
    line-height: 1.428571429;
    padding: 19px 0px 1px 12px;
    font-weight: lighter;
    margin-left: 1px;
    position: relative;
    margin-right: 1px;
}
blockquote#alert {
    border-left: 4px solid;
    border-left-color: #EA0443;
    color: #EA0443;
    background-color: #FFDBE5;
    font-weight: normal;
}
 blockquote#important{
    border-left: 4px solid;
    border-left-color: $heading-font-color;
    color: $heading-font-color;
    background-color: $background-color-blockquote;
    font-weight: normal;
}
 blockquote#related{
    border-left: 4px solid;
    border-left-color: #1e90ff;
    color: #091f3e;
    background-color: #1e90ff0a;
    font-size: 15px;
    font-weight: normal;
}
