blockquote {
    font-weight: normal;
    cursor: pointer;
    white-space: nowrap;
    padding-bottom: 8px;
    font-size: 14px;
    line-height: 1.428571429;
    margin-right: 10px;
    color: #333;
    background: #f5f5f5;
    border-left: 4px solid #06A1C6;
}
h6 {
    font-weight: 500;
    padding: 13px 16px;
    margin-bottom: 36px;
    font-size: 1.5rem;
    color: #06A1C6;
}



