// Links
a {
  color: $link-color;   // @CHANGE
  
  &:hover,
  &:focus {
    color: darken($link-color, 12%);
  }
}

a#back {
    border-bottom: 1px solid #1f73b7 !important;
    background-color: white !important;
    font-size: 1rem;
    color: #1F73B7 !important;
    height: 40px;
    cursor: pointer;
    border-radius: 10;
    border-radius: 5px;
    text-decoration: none;
    padding: 7px 7px;
    font-weight: 100;

 }
a#multi-language {
 background-color: #f3f3f5;
    box-sizing: border-box;
    height: 40px;
    cursor: pointer;
    border-radius: 10;
    border-radius: 5px;
    text-decoration: none;
    padding: 7px 18px;
    font-weight: 100;
    float: right;
}
