
th {

  color: $heading-font-color;
  padding-inline-end: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #e9edef;
  background: #f8f8fa;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

}

td {
  overflow: hidden;
  text-overflow: ellipsis;
  border: 0px solid #ffffff;
  background: #dcdfe36b;
  color: #535659;
  font-size: 0.9rem;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 30px;

}
