// Typography Settings
// .typo_ostrich {font-size: $typo_ostrich;}
// .typo_albatros {font-size: $typo_albatros;}
// .typo_eagle {font-size: $typo_eagle;}
// .typo_hawk {font-size: $typo_hawk;}
// .typo_crow {font-size: $typo_crow;}
// .typo_sparrow {font-size: $typo_sparrow;}
// .typo_hummingbird {font-size: $typo_hummingbird;}

ul,ol,dd,
p,figure,
table,fieldset,hr
{
  margin:0;
  margin-bottom: $margin;
}

.header,
h1, h2, h3, h5 {
  line-height: $heading-line-height;
  margin-bottom: $margin;
  font-weight: 400;
  margin-top: $margin_large;
}

h1 {
  color: $heading-font-color;
  font-size: $typo_ostrich;
}
h2,h3,h5 {
  font-size: $typo_eagle;
}

h2 {
 color: #425966;
}
    
h3 {
  font-size: $typo_crow;
}
h4 {
    font-weight: normal;
    cursor: pointer;
    padding-bottom: 8px;
    font-size: 15px;
    line-height: 1.428571429;
    background: #f9c23c24;
    border-left: 4px solid #f9b537;
    padding: 9px 12px;
    color: #091f3e;
    font-weight: normal;
}
h6 {
    color: #091f3e;
    margin-left: 16px;
    font-size: 15px;
    font-weight: normal;
}
h5 {
  font-size  : 14px;
  font-weight: 300;
  text-align : end
}   // @CHANGE: New class

// Mobile sizes
@media only screen and (max-width: $large_screen) {

  .typo_ostrich {font-size: $m_typo_ostrich;}
  .typo_albatros {font-size: $m_typo_albatros;}
  .typo_eagle {font-size: $m_typo_eagle;}
  .typo_hawk {font-size: $m_typo_hawk;}

  h1 {
  font-size: $m_typo_ostrich;
  }
  h2,h3,h5 {
    font-size: $m_typo_eagle;
  }
}
