details#product {
    display: block;
    overflow: hidden;
    color: $heading-font-color;
    background-color: #f9f9fb;
    cursor: pointer;
    font-size: 16px;
    padding: 16px;
    border-radius: 3px;
}
summary#product {
    display: list-item;
}
details:focus#product  {
    border-bottom: 1px solid;
    background-color: #f2fafa;
}
details:hover#product {
    
    border-bottom: 1px solid;
    background-color: #f2fafa;
}
details {
  display: block;
  overflow: hidden;
  color: #727e89;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  border-radius: 3px;
}
details:hover {  
  border-bottom: none;
  background-color: #ffffff;
}
details:focus{
  border-bottom: none;
  background-color: #ffffff;
}
summary::marker {
  color: blue;
  font-size: 1.2em;
}
summary {
    display: block;
}
