details {
    display: block;
    overflow: hidden;
    padding: 11px;
    color: $heading-font-color;
    background-color: #f9f9fb;
    cursor: pointer;
    font-size: 16px;
    padding: 16px;
    border-radius: 3px;
 }
summary {
    display: block;
}
details:focus {
  border-bottom: 1px solid;
  background-color: #f2fafa;
}
details:hover {
  border-bottom: 1px solid;
  background-color: #f2fafa;
}
